@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-canvas: #f8fafc;
  --fg-primary: #0f172a;
}

body {
  background-color: var(--bg-canvas);
  color: var(--fg-primary);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
}
